body {
  background: url(fogo.jpg) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: saturation;
  text-align: center;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 0, 0) 0.3em 0.3em 0.6em;
}

#titleMapa {
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 0, 0) 0.2em 0.2em 0.3em;
}

#ptitle {
  font-size: 18px;
  font-weight: 600;
}

form {
  background-color: rgba(22, 24, 24, 0.884);
  /* Apenas para centralizar o form na página */
  margin: 0 auto;
  width: 250px;
  /* Para ver as bordas do formulário */
  padding: 0.5em;
  border: 1px solid #d6c8c8;
  border-radius: 1em;
}
Form{
  opacity: 1;
}

form div + div {
  margin-top: 0.5em;
}

label {
  /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
  display: inline-block;
  width: 90px;
  text-align: left;
}

input {
  width: 22%;
}

input#buttonCalc {
  font-weight: 600;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding-left: px;
  width: 50%;
  height: 100%;  
  border-radius: 0.25em; 
}

input:focus{
  /* Dar um pouco de destaque nos elementos ativos */
  border-color: #000000;
}

#textQtd {
  font-size: 18px;
  font-weight: 600;
}

#result {
  margin-top: 1em;
  text-align: left;
  font-weight: 500;
  margin: 0.5em;
}